body{
    background-image: linear-gradient(to right, pink, lightblue );
}
.tabela{
    text-align: center;
    color: white;
    border: 1px solid white;
}
#titulo{
    text-align: center;
    font-size: 25px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}
#cabecalho{
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
}
#coluna{
    text-align: center;
    font-size: 15px;
    border-top: 1px solid white;
}
#imagem{
    width: 20px;
    height: 20px;
}
#linha{
    border: 1px solid white;
    text-align: center;
    font-size: 15px;
}